
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}